* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

.header a:hover {
    color: firebrick;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    background-color: darkslategray;
    height: 50px;
    align-items: center;
    top: 0;
    position: sticky;
}

.header li {
    margin: 0 20px;
}

.nav {
    color: aliceblue;
    text-decoration: none;
    background-color: darkslategray;
    text-decoration-color: azure;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: tan;
    --bs-nav-pills-link-active-color: black;
}

.nav-pills:hover{
    --bs-nav-pills-link-active-bg: firebrick;
    --bs-nav-pills-link-active-color: white;
}

.nav {
    --bs-nav-link-color: white (--bs-link-color);
}

main {
    min-height: 80vh;
}

.footer {
    font-size: x-large;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main img:hover {
    transform: scale(1.10) translate(10px, 10px);
    /* transform: skew(15deg); */
    transition: 0.3s ease-in-out;
}

/* INDEX */

.banner {
    width: 100%;
}

.index {
    padding: 50px;
    margin: 100px;
    align-items: center;
}

.linkimage {
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* CONTACTO */

.form {
    font-size: x-large;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.from-control:focus{
    border-color: tan;
    border-top-color: tan;
    border-right-color: tan;
    border-bottom-color: tan;
    border-left-color: tan;
    box-shadow: tan;
}

.btn-primary {
    --bs-btn-bg: tan;
    --bs-btn-border-color: tan;
    --bs-btn-hover-bg: brown;
    --bs-btn-hover-border-color: brown;
    --bs-btn-active-bg: brown;
    --bs-btn-active-border-color: brown;
    --bs-btn-disabled-bg: brown;
    --bs-btn-disabled-border-color: brown;
}

.form-control:focus {
    color: #292121;
    background-color: #fff;
    border-color: #fe8686;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

.form-check-input:checked {
    background-color: brown;
    border-color: brown;
}

.form-check-input:focus {
    border-color: #fe8686;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

/* GALERIA */

h2 {
    margin: 25px;
    font-size: x-large;
}

.images {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.images img {
    height: 250px;
    margin: 20px;
}

/* INFO */

.info {
    margin: 25px;
    font-size: x-large;
    padding: 5px;
}

iframe {
    margin: 25px;
}

/* SERVICIOS */

.servicios {
    font-size: x-large;
    margin: 25px;
    padding: 25px;
}

/* MEDIA QUERYS */



@media (max-width: 600px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .images {
        grid-template-columns: repeat(1, 1fr);
    }

    iframe {
        height: 300px;
        width: 300px;
    }
}